#REIN_DEBUG			= 2	# отладка
# 1 - для записи в лог нужно дать команду открыть лог файл
# 2 - лог происходит постоянно, файл каждый раз открывается/закрывается (для фикс. вылета)
# 3 - лог происходит постоянно, файл открыт все время

%if !defined (REIN_PROJECT_PATH)
REIN_PROJECT_PATH = d:/Projects/mdl/rein/
%endif
MS_RSRCPATH 			> $(REIN_PROJECT_PATH)bin/rsc/
MS_VBASEARCHDIRECTORIES 	> $(REIN_PROJECT_PATH)vba/
REIN_SCHEMA_PATH = $(REIN_PROJECT_PATH)ecx/ReinSchema.01.00.ecschema.xml

%if !defined (REIN_DGNLIB)
REIN_DGNLIB = d:/storage/dgnlib/rein.dgnlib
%endif
MS_DGNLIBLIST > $(REIN_DGNLIB)
MS_GUIDGNLIBLIST > $(REIN_DGNLIB)

#--------------------------------------------------------------------------

REIN_BAR_FACE			= 25		# размер услоных обозначений - крестики, нолики, сечения, стрелки
REIN_BAR_SIGN			= 50		# c 12 версии не используется, размер услоных обозначений - засечки, муфты, резьба
REIN_POSNUM_SIZE		= 20

REIN_PIC_ANKER			= $(MS_IMAGE)rein_schema_anker.bmp

#REIN_DATA			= z:/offtake/rein/
#REIN_DATA_LOADS_NODES		= $(REIN_DATA)ttt.out
#REIN_DATA_LOADS_VALUES		= $(REIN_DATA)reinforce.els
#REIN_DATA_LOADS_ORIGIN_X	= -38800
#REIN_DATA_LOADS_ORIGIN_Y	= 156500

#enum class  DgnElementClass
#    {
#    Primary                 = 0,
#    PatternComponent        = 1,
#    Construction            = 2,
#    Dimension               = 3,
#    PrimaryRule             = 4, //!< Never used directly, internal to Type 18/19 implmentation only!
#    LinearPatterned         = 5,
#    ConstructionRule        = 6, //!< Never used directly, internal to Type 18/19 implmentation only!
#    };

# принудительная установка класса элемента (-1 не менять)
REIN_CONSTR_SPC			= 2	# primitive element, type ReinSpace
REIN_CONSTR_BAR			= 0	# primitive element, type ReinBar (variable not used)
REIN_CONSTR_ELM			= 0	# derived element, type ReinElem

# force symbology set
REIN_SYMB_STYLE_SPC			= 3	# ReinSpace line style (-1 no change)
REIN_SYMB_WEIGHT_ELM		= 2	# ReinElem weight (0,1,2,3,... -1 no change)
REIN_SYMB_COLOR_ELM			= BYLEVEL # (or 0,1,2,3,... -1 no change)

REIN_SPACE_HOLD_LINE = 0 # default 0, if 1 - hold bar spacing when extrusion is not perpendicular

REIN_TRANSP_ELM_OUT		= 0	# outer ReinElem transparency
REIN_TRANSP_ELM_INN		= 90 # inner ReinElem transparency

#REIN_FILLET_RADIUS_D		= 5.	# загиб стержня (если перем не определена, то исп. внутрення таблица или табл. базы rein_laps)
REIN_FILLET_RADIUS_D_DEFAULT	= 3	# загиб стержня по умолчанию
REIN_FILLET_STARTING_D		= 8		# начальный диаметр для расчета по параметру REIN_FILLET_RADIUS_D
REIN_BAR_BEND_ROUND_SNAP	= 5.	# (default 10.) кратность округления длины загиба стержня
REIN_BAR_LINE_ROUND_SNAP	= 5.	# снап округления длины стержня (для эскиза)

REIN_COMPARISON_TOL		= 5	# величина для сравнения позиций (мм)
REIN_REDUCERS_SCAN_TOL		= 20	# расстояние при расчете переходных муфт (мм)
REIN_MIN_SEGMENT		= 10	# минимальная длина сегмента, после которого он будет считаться за вершину (мм)
REIN_MUFT_LAP_TYPE		= 1	# тип муфты по умолчанию для соединений превышающих максимальный размер
REIN_MUFT_THREAD_SHIFT		: 1	# муфта и резьба рисуется как муфта со сдвигом - так чтобы центр прямоугольника оказался на конце стержня
REIN_MUFT_TYPE_0_ENABLED	: 0	# стандартный тип муфты вкл/выкл
REIN_MUFT_WIDTH_COEF		= 0.75 # коэффициент для ширины муфт и других подобных штуковин
REIN_MUFT_HEIGHT_COEF		= 1.5 # коэффициент для высоты муфт и других подобных штуковин

# печать: (-1) - не печатать, (0) - по настройкам, (1) - всегда печатать
#--------------------------------------------------------------------------
REIN_PLOT_SPC			: -1	# образующий элемент контура
REIN_PLOT_SPC_ELM		: 0	# производный элемент контура 
REIN_PLOT_SPC_INNER		: 0	# производный внутренний (прозрачный) элемент
REIN_PLOT_BAR			: -1	# образующий элемент отдельного стержня
REIN_PLOT_BAR_ELM		: 0	# производный элемент отдельного стержня
REIN_PLOT_TERM_BEND		: 0	# загиб
REIN_PLOT_TERM_REZB		: -1	# резьба
REIN_PLOT_TERM_SVAR		: -1	# сварка
REIN_PLOT_TERM_MUFT		: 0	# муфты
REIN_PLOT_TERM_SKOB		: 0	# скобы
REIN_PLOT_AUX_X			: 0	# крестики
REIN_PLOT_AUX_O			: 0	# нолики
REIN_PLOT_AUX_V			: 0	# засечки (на концах стержней)
REIN_PLOT_ELMSEC		: 0	# сечения (кружки)
REIN_PLOT_BAR3D			: 0	# реальные контуры стержня (с учетом рифления)
REIN_PLOT_POSNUM		: -1	# номер позиции
REIN_PLOT_BAR_INVIS		: -1	# невидимый элемент
#--------------------------------------------------------------------------
REIN_DISPLAY_INNER_CMN		: 1	# Внутренние (прозрачные) стержни контура
REIN_DISPLAY_INNER_SEC		: 1	# Внутренние стержни для сечений
REIN_DISPLAY_INVISIBLE_DASH	: 0	# Невидимые стержни пунктиром
REIN_DISPLAY_SEC_SHOW		: 1	# Сечения стержней
REIN_DISPLAY_SEC_REAL_DIAM	: 0	# Реальный диаметр сечения
REIN_DISPLAY_BAR_3D		: 0	# Контуры объёма стержня
REIN_DISPLAY_SHOW_BENDS		: 1	# Загибы
REIN_DISPLAY_SHOW_NOTCH		: 1	# Засечки
REIN_DISPLAY_NOTCH_STARTING_D	: 20	# Draw notches begin from this diameter
REIN_DISPLAY_SHOW_X		: 1	# Крестики
REIN_DISPLAY_SHOW_O		: 1	# Нолики
REIN_DISPLAY_POS_NUMBERS	: 0	# Номера позиций
REIN_DISPLAY_COLOR_BY_DIAM	: 0	# Цвет элемента по диаметру
REIN_DISPLAY_THREAD_COUP	: 1	# Резьба как муфта при печати
REIN_DISPLAY_SEC_SIZE		: 0	# Переопределение размера сечения
#--------------------------------------------------------------------------

REIN_BAR_CHECK_DUPLICATES	= 1	# проверка дубликатов (наложений) стержней арматуры
REIN_BAR_CHECK_CLASH	= 2	# проверка коллизий, 
					#0 - не проверять, 
					#1 - проверять всегда, 
					#2 - проверять только при манипуляции с элементами (не проверять при загрузке файла)
REIN_BAR_CLASH_TOLERANCE = 10 # допуск в мм, при котором коллизией считается наезд больше этого значения (по умолчанию 5)

REIN_OPTIONS_ENABLE		: 0	# блокирует редактирование некоторых опций отображения

REIN_POSLIST_VBA		= 1	# исп. окошко позиций на VBA (с версии 6 не исп., используется в 5-й версии)
REIN_POSLIST_MERGE		= 1	# объединять список позиций если назначен один каталог Offtake
REIN_DB				: 0	# 1 - загружать данные по позициям из базы данных (устар., не исп.)

REIN_BAR_SEC_SCALE		: 50	# масштаб увеличения "режущего" элемента сечения при создании стержней "нарезкой" (опция "сеч")

REIN_POS_USE_LAP_PARITY		: 1	# учитывать при группировке позиций четность разбежки контура
REIN_POS_SORT_BY_PARAMETERS : 1 # position list sorted by run, diamter, vertex quantity, end type, length
# sort order in positions list (like SQL)
REIN_POS_SORT_PARAMETERS = num # position number
REIN_POS_SORT_PARAMETERS > run # running meters in top
REIN_POS_SORT_PARAMETERS > diam # bar diameter
REIN_POS_SORT_PARAMETERS > bends # bar bends quantity
REIN_POS_SORT_PARAMETERS > term # bar terminations
REIN_POS_SORT_PARAMETERS > posset # position set
#REIN_POS_SORT_PARAMETERS > loc # 3D location (x,y,z) OR next three:
REIN_POS_SORT_PARAMETERS > locy # 3D location y
REIN_POS_SORT_PARAMETERS > locx # 3D location x
REIN_POS_SORT_PARAMETERS > locz # 3D location z
REIN_POS_SORT_PARAMETERS > length # bar length

REIN_BAR_BENDTYPE_AUTOMATIC	: 0	# для линейного контура - тип линии, по которой гнется стержень, если знач. = 1 - определяется автоматически:
					# если в контуре только дуги - шаг отмеряется по дуге и используется параметр "радиус шага" (гиб)
					# если в контуре динии и дуги - стержни отрисовываются по секущим плоскостям через шаг (сеч)
					# если в контуре только линии - стержни рисуются параллельно, шаг соответствует заданному в первом сегменте (пар)

REIN_BAR_BEND_REPAIR : 0 # try to repair bar bends (when lines from bend center and near segments are perpendicular)					
					
REIN_COMPARISON_3D		: 1	# сохранять позиции как трехмерные (новый метод сравнения)
REIN_USE_NULL_FILLET		: 0	# for bars with bend 0mm - internal segment with 0mm length created 
						#(used for legacy, value 1 may prevent creation of solid bar)

REIN_BAR_GROUND_WEIGHT = 5 # толщина стержней ЗККЗ
REIN_BAR_GROUND_COLOR = 45 # цвет стержней ЗККЗ

REIN_SKETCH_CELL_HEIGHT		: 4000
REIN_SKETCH_CELL_WIDTH1		: 1000
REIN_SKETCH_CELL_WIDTH2		: 7000
REIN_SKETCH_CELL_GAP		: 1600

REIN_BEND_DRAW			: 1	# 0 - старый метод отрисовки, 1 - новый метод, 2 - честный загиб стержня

#REIN_VIEW_CACHE_MODE			= 1	# не используется
#REIN_VIEW_CACHE_SHOW			= 1	# не используется

REIN_BAR_USE_GHOST_CONTOUR = 0 # 0 - использовать трехмерный невидимый стержень, 1 - отрисовка на лету

#REIN_TREAT_UPDATE_ELEMENT = 0 # использовать событие обновление элемента для корректировки отображения (сечения, номер позиции, крестики-нолики и т.д.)
								# ПРИ ЭТОМ НЕ ОТКЛЮЧИТЬ ОБЪЕМНЫЕ СТЕРЖНИ

REIN_UPDATE_ELEMENT_SKIP_EVENTS = 0;22;27;30 # если есть 0 - не вести лог в callbackUpdateElement

REIN_BAR_LAP = 0,0,0,0,0,0,0,0,330,0,410,0,500,0,0,0,660 # переопределение длин нахлеста (формируется массив, где порядковый номер - диаметр)

REIN_DB_ID_OVERRIDE = 1 # переопределение projectID в таблице rein_lap

REIN_REF_SAVEDVIEW_CLIPVOLUME = 1 # try to read bars from reference using saved view clip volume (this option used for drawings with references)

REIN_REF_BAR_SECTION_SNAP = 1 # create bar section transient element (when it displays like filled circle). this is used to ensure that snap to reference element always works

REIN_LOAD_REFERENCES_ONSTART : 1 # load bars data from references on application start

# попытка сделать чтобы не грузил модель в коннекте при старте когда не просят (REIN нет в списке загружаемых приложения)
# по наблюдениям это происходит так как коннект пытается восстановить окна, и за ними тащит и приложение
#REIN_LOAD_MODEL_ON_OPEN_FILE : 1

# automatic position catch after bar change
# also use keyin REIN POS CATCH [ON|OFF]
REIN_POSITION_CATCH = 0 # 0|1

